<small style='color:red'><%=@error%></small>

<%= form_for(@user) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Signup" %>
  <%end%>

  <br><button><%=link_to "Go to Login", login_path%></button>