<h1>Enter a new Game:</h1>
<% if @game.errors.any? %>
  <h2 style="color:red" >ERROR(s)</h2>
  <%= @game.errors.full_messages.each do |f| %>
  <h3 style='color:red'><%=f%></h3>
  <%end%>
  <%end%>

<%= form_for(@game) do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.label :platform %>
  <%= f.text_field :platform %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.submit "Post Game"%>

  <% end %>