<h1><%= @game.title %></h1>
<%binding.pry%>
<small>Genre: <%= @game.genre %></small><br>
<small>Price: $<%= @game.price %></small><br>
<small>Platform: <%= @game.platform %></small><br><br>
<%= link_to "New review", new_game_review_path(@game.id) %>
<p> -or- </p>
<p>See all <%=@game.reviews.count%> <%=link_to "reviews", game_reviews_path(@game.id)%> </p>


